<a href="https://colab.research.google.com/github/allhoesnobros/EXP-1/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aayush Vishwakarma
25070123125
Experiment 1: introduction to python

In [ ]:
x= "Apple"
y= "Cherry"
z= "Orange"
print(x,y,z, sep="\n")

Apple
Cherry
Orange

In [ ]:
x, y, z, w= 2, 2.5, "aayush", True
print(type(x),type(y), type(z), type(w), sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
a, b= 5, 10
print("sum=",a+b)
print("sub=",a-b)
print("mult=",a*b)
print("div=",a/b)
print("exponential=",a**b)

sum= 15
sub= -5
mult= 50
div= 0.5
exponential= 9765625

In [ ]:
a=int(input("enter the value for a"))
b=int(input("enter the value for b"))
print("sum=",a+b)
print("sub=",a-b)
print("mult=",a*b)
print("div=",a/b)
print("exponential=",a**b)

enter the value for a1
enter the value for b2
sum= 3
sub= -1
mult= 2
div= 0.5
exponential= 1

In [ ]:
a=int(input("enter the value for a"))
b=int(input("enter the value for b"))
print("sum=",a+b,"\n","sub=",a-b,"\n","mult=",a*b,"\n","div=",a/b,"\n")

enter the value for a1
enter the value for b2
sum= 3
 sub= -1
 mult= 2
 div= 0.5

In [ ]:
import math
r= float(input("Enter the value of radius"))
print("Area of circle=",math.pi*r*r)
print("circumference of circle=",2*math.pi*r)

Enter the value of radius4.3
Area of circle= 58.088048164875275
circumference of circle= 27.01769682087222

In [ ]:
import math
print("x=",math.log10(10))

x= 1.0

In [ ]:
a=float(input("Enter the value for a"))
b=float(input("Enter the value for b"))
if b>a:
  print("b is greater than a")
else:
  print("a is greater than b")

Enter the value for a2
Enter the value for b3
b is greater than a